@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animació zoom */
/* Zoom animat suau */
@keyframes heroZoomIn {
  from { transform: scale(1); }
  to   { transform: scale(1.12); }
}

.animate-hero-zoom {
  animation: heroZoomIn 8s ease-out forwards;
  will-change: transform;
}


/* Transició d'opacitat */
.fade-image {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fade-image.show {
  opacity: 1;
}


.beige-image {
  filter: 
    saturate(0.85)
    contrast(0.95)
    brightness(1.05)
    sepia(0.12);
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}

